@import "bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
}
.canvas {
   margin: 0;
   background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
   background: linear-gradient(45deg, #49a09d, #5f2c82);
   min-width: 1450px;
   font-family: sans-serif;
   font-weight: 100;
 }