.settingsbar{
  position: absolute;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 1450px;
  border-bottom: 2px solid black;
}