.toolbar {
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  &__btn {
    min-height: 50px;
    min-width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    margin-right: 20px ;
    background-color: white;
  }
  &__btn:last-child{
    margin-right: 0;
  }
}
.brush {
  background: url("../assets/brush.jpg") no-repeat center center;
}
.rect {
  background-color: black;
}
.circle {
  border: 1px solid black;
  border-radius: 100px;
}
.eraser{
   background: url("../assets/eraser.jpg") no-repeat center center;
 }
 .line{
   rotate: -35deg;
 }