.toolbar {
  margin-top: 30px;
  padding-bottom: 30px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid black;
  &__btn {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    margin-right: 40px ;
    background-color: white;
  }
}
.brush {
  background: url("../assets/brush.jpg") no-repeat center center;
}
.rect {
  background-color: black;
}
.circle {
  border: 1px solid black;
  border-radius: 100px;
}
.eraser{
   background: url("../assets/eraser.jpg") no-repeat center center;
 }
 .line{
   rotate: -35deg;
 }